apiVersion: v1
kind: Service
metadata:
  name: api-pagamentos
  namespace: unifiapay
  labels:
    app: api-pagamentos
spec:
  type: ClusterIP
  ports:
    - port: 3000
      targetPort: 3000
      protocol: TCP
      name: http
  selector:
    app: api-pagamentos
